body {
    background-color: green;
    width: 100%;
}

#piesList {
    /* width: 90%; */
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 30%; */
    justify-content: space-around;
    padding: 1em;
    margin: 2em;
    /* flex: 1 1 30%; */
}

.pie {
    text-align: center;
    width: 25%;
    margin: 1em;
}

img {
    width: 100%;
}